<% include head.ejs %>
  <body>
<% include header.ejs %>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2"><%= title %></h1>
          <div class="row center">
            <h5 class="header col s12 light" style="color:white">The Largest Planet</h5>
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax"><img src="http://imgsrc.hubblesite.org/hvi/uploads/image_file/image_attachment/25853/large_web.jpg" alt="Mars img 1" style="width:100%"></div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Jupiter</h4>
            <p class="flow-text left-align light">Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a giant planet with a mass one-thousandth that of the Sun, but two and a half times that of all the other planets in the Solar System combined. Jupiter and Saturn are gas giants; the other two giant planets, Uranus and Neptune are ice giants. Jupiter was known to astronomers in ancient times.  When viewed from Earth, Jupiter is on average the third-brightest object in the night sky after the Moon and Venus.
<br>
<br>
Jupiter is primarily composed of hydrogen with a quarter of its mass being helium. It may also have a rocky core of heavier elements, but like the other giant planets, Jupiter lacks a well-defined solid surface. A prominent feature is the Great Red Spot, a giant storm that is known to have existed since at least the 17th century when it was first seen by telescope. Surrounding Jupiter is a faint planetary ring system and a powerful magnetosphere. Jupiter has at least 67 moons, including the four large Galilean moons discovered by Galileo Galilei in 1610. Ganymede, the largest of these, has a diameter greater than that of the planet Mercury.
<br>
<br>
Jupiter has been explored on several occasions by robotic spacecraft, most notably during the early Pioneer and Voyager fly-by missions and later by the Galileo orbiter. In late February 2007, Jupiter was visited by the New Horizons probe, which used Jupiter's gravity to increase its speed and bend its trajectory en route to Pluto. The latest probe to visit the planet is Juno, which entered into orbit around Jupiter on July 4, 2016. Future targets for exploration in the Jupiter system include the probable ice-covered liquid ocean of its moon Europa.
<div>Source: https://en.wikipedia.org/wiki/Jupiter</div>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="container">
          <h4 style="color:white">Jupiter: Stats</h4>
          <p><i>How much would you weigh on Jupiter?</i></p>
          <p>Gravity on Jupiter is the highest of any planet in the Solar System.</p>
          <div class="input-field inline">Enter your weight on Earth:
          <br>
          <br>
          <br>
          <form>
          <input class="input" type="text" name="weight" placeholder="Weight" required >
          </div>
          <button class="waves-effect waves-light btn" onclick="weightOnJupiter(<%= planet.gravity %>)">SUBMIT</button>
          </form>
          <p id="jupiterAnswer">&nbsp;</p>
        </div>
      <div class="parallax"><img src="http://images-assets.nasa.gov/image/PIA02852/PIA02852~orig.jpg" alt="Jupiter img 2" style="width:100%"></div>
    </div>


    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m6">
            <p class="flow-text left-align light">
              Jupiter orbits 778 million kilometers from the Sun.
              <br>
              At our Manhattan scale, Jupiter is 2.57 kilometers away from The Sphere.
              <br>
              In our journey across Manhattan, this puts us on Broadway between Broome and Spring in SoHo.
              <br>
              Jupiter would be about 46cm in size at this scale, about 1/10th the size of The Sphere.
              <br>
          </div>
          <div class="col s12 m6 materialboxed" data-caption="Relative orbit of Jupiter from The Sphere">
              <img src="/images/Jupiter_orbit.png" alt="Raduis of <%= title %>'s orbit at scale" style="width:100%">
          </div>
        </div>
      </div>
    </div>
<!--       <div class="parallax-container">
       <div class="section no-pad-bot">
        <div class="container">

        <iframe width="100%" height="400"

        src="https://www.google.com/maps/embed/v1/streetview?key=<%= process.env.GOOGLE_KEY %>&location=40.722472,-73.999280&heading=45&pitch=5&fov=100">
        </iframe>
        </div>
      </div>
    </div> -->

    <div style="position:relative;height:400px;width:80%;margin:0 auto">

      <iframe width="100%" height="400"
        src="https://www.google.com/maps/embed/v1/streetview?key=<%= process.env.GOOGLE_KEY %>&location=40.722472,-73.999280&heading=45&pitch=5&fov=100">
      </iframe>

      <div style="width:900px;height:400px;z-index:2;position:absolute;top:0px">
        <a-scene embedded style="left:250;height:300;width:400">
          <a-sphere position="0 1.8 -1" radius=".03" color="#e58c5d"></a-sphere>
        </a-scene>
      </div>

    </div>

    <div class="container section no-pad-bot">
      <p style="text-align:center">Jupiter is the large planet, 46cm in size, above Broadway in SoHo. (Use arrow keys / mouse to pan / zoom)</p>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <p class="flow-text light">Next, the ringed planet.
            </p>
            <div class="row center">
              <a href="/saturn" class="btn-large waves-effect waves-light teal lighten-1">Next: SATURN</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Sources</h5>
            <p class="grey-text text-lighten-4">"A New Yorker's Guide to the Solar System" was conceived as a showcase for web technologies explored under the Web Development Immersive at General Assembly NYC in February 2017. Several of these are linked here.</p>
            <p class="grey-text text-lighten-4">All images from NASA's Jet Propulsion Laboratory and Google fair use searches.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p>Developed by <a class="brown-text text-lighten-3" href="https://github.com/franklinbrooks">Franklin Brooks</a>. Created with
            <span class="heart">♥
            </span> at
            <span><a  class="brown-text text-lighten-3" href="http://www.generalassemb.ly">GA</a>
            </span>
          </p>
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://www.materializecss.com/bin/materialize.js"></script>
    <script src="http://www.materializecss.com/js/init.js"></script>
    <script src="https://darkskyapp.github.io/skycons/skycons.js"></script>
  </body>
</html>
