<% include head.ejs %>
  <body>
<% include header.ejs %>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2"><%= title %></h1>
          <div class="row center">
            <h5 class="header col s12 light" style="color:white">The Nearest Star</h5>
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax"><img src="https://upload.wikimedia.org/wikipedia/commons/6/61/Alpha%2C_Beta_and_Proxima_Centauri_%281%29.jpg" alt="<%= title %> img 1" style="width:100%"></div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4> <%= title %> </h4>
            <p class="flow-text left-align light">Proxima Centauri is a red dwarf, a small low-mass star, at about 4.25 light-years from the Sun in the constellation of Centaurus, is the nearest-known star to the Sun. With an apparent magnitude of 11.05, it is too faint to be seen with the naked eye.  However, the mixing of the fuel at Proxima Centauri's core through convection and its relatively low energy-production rate mean that it will be a main-sequence star for another four trillion years, or nearly 300 times the current age of the universe.
<br>
<br>
On August 24, 2016, the European Southern Observatory announced the discovery of Proxima b, a planet orbiting the star at a distance of roughly 7,500,000 km and an orbital period of approximately 11.2 Earth days. Its estimated mass is at least 1.3 times that of the Earth. The equilibrium temperature of Proxima b is estimated to be within the range where water could exist as liquid on its surface, thus placing it within the habitable zone of Proxima Centauri. Previous searches for orbiting companions had ruled out the presence of brown dwarfs and supermassive planets.  Because Proxima Centauri is a red dwarf and a flare star, whether a planet orbiting it could support life is disputed. Nevertheless, because of the star's proximity to Earth, it has been proposed as a flyby destination for interstellar travel.
<div>Source: https://en.wikipedia.org/wiki/Proxima_Centauri</div>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="container">
          <h4 style="color:white">Proxima Centauri: Stats</h4>
          <p><i>How much would you weigh on Mars?</i></p>
          <p>Gravity on Mars is the lowest of any planet in the Solar System.</p>
          <div class="input-field inline">Enter your weight on Earth:
          <br>
          <br>
          <form>
          <input class="input" type="text" name="weight" placeholder="Weight" required >
          </div>
          <button class="waves-effect waves-light btn" onclick="weightOnMars(<%= planet.gravity %>)">SUBMIT</button>
          </form>
          <p id="marsAnswer">&nbsp;</p>
        </div>
      <div class="parallax"><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/New_shot_of_Proxima_Centauri%2C_our_nearest_neighbour.jpg" alt="<%= title %> img 2" style="width:100%"></div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m6">
            <p class="flow-text left-align light">
              Proxima Centauri is some 24.94 trillion miles from the Sun.
              <br>
              At our Manhattan scale, there is no point on the surface of the Earth far enough away from The Sphere to represent Proxima Centauri.
              <br>
              In 2015, NASA's New Horizons probe completed its 3-billion-mile journey to Pluto after traveling for about 9.5 years. The spacecraft traveled at speeds topping 52,000 mph. At that rate, it would take New Horizons about 54,400 years to reach Proxima Centauri.
              <br>
          </div>
          <div class="col s12 m6 materialboxed" data-caption="Relative orbit of Pluto from The Sphere">
              <img src="/images/Pluto_orbit.png" alt="Raduis of Pluto's orbit at scale" style="width:100%">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <p class="flow-text light">How big does the Big Apple seem now?
            </p>
            <div class="row center">
              <a href="/" class="btn-large waves-effect waves-light teal lighten-1">HOME</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Sources</h5>
            <p class="grey-text text-lighten-4">"A New Yorker's Guide to the Solar System" was conceived as a showcase for web technologies explored under the Web Development Immersive at General Assembly NYC in February 2017. Several of these are linked here.</p>
            <p class="grey-text text-lighten-4">All images from NASA's Jet Propulsion Laboratory and Google fair use searches.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p>Developed by <a class="brown-text text-lighten-3" href="https://github.com/franklinbrooks">Franklin Brooks</a>. Created with
            <span class="heart">♥
            </span> at
            <span><a  class="brown-text text-lighten-3" href="http://www.generalassemb.ly">GA</a>
            </span>
          </p>
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://www.materializecss.com/bin/materialize.js"></script>
    <script src="http://www.materializecss.com/js/init.js"></script>
    <script src="https://darkskyapp.github.io/skycons/skycons.js"></script>
  </body>
</html>
