<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- Local Scripts and Styles -->
    <link rel="stylesheet" href="style.css">
    <script src="app.js" type="text/javascript"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav class="teal" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">A New Yorker's Guide to the Solar System</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/" class="light">Home</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Home</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2"><%= title %></h1>
          <div class="row center">
            <h5 class="header col s12 light" style="color:white">The Ringed Planet</h5>
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax"><img src="http://images-assets.nasa.gov/image/PIA12513/PIA12513~orig.jpg" alt="<%= title %> img 1" style="width:100%"></div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Saturn</h4>
            <p class="flow-text left-align light">Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius about nine times that of Earth.  Saturn's interior is probably composed of a core of iron–nickel and rock (silicon and oxygen compounds). This core is surrounded by a deep layer of metallic hydrogen, an intermediate layer of liquid hydrogen and liquid helium, and finally a gaseous outer layer.  Saturn has a pale yellow hue due to ammonia crystals in its upper atmosphere.
<br>
<br>
Saturn has a prominent ring system that consists of nine continuous main rings and three discontinuous arcs and that is composed mostly of ice particles with a smaller amount of rocky debris and dust. Sixty-two moons are known to orbit Saturn, of which fifty-three are officially named. This does not include the hundreds of moonlets comprising the rings. Titan, Saturn's largest moon, and the second-largest in the Solar System, is larger than the planet Mercury, although less massive, and is the only moon in the Solar System to have a substantial atmosphere.
<div>Source: https://en.wikipedia.org/wiki/Saturn</div>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <h4 style="color:white"> <%= title %>: Stats</h4>
          <div class="row center">
            <h5 class="header col s12 light" style="color:white"></h5>
            </h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="https://www.nasa.gov/images/content/365640main_PIA11141_full.jpg" alt="<%= title %> img 2" style="width:100%"></div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m6">
            <p class="flow-text left-align light">
              Saturn orbits 1427 million miles from the Sun.
              <br>
              At our Manhattan scale, Saturn is 4.71 kilometers away from The Sphere.
              <br>
              In our journey across Manhattan, this puts us on Broadway at East 22nd Street, just south of the Flatiron Building.
              <br>
              Saturn would be about 39.5cm in size at this scale.
              <br>
          </div>
          <div class="col s12 m6">
            <div class="card-panel teal">
              <img  src="/images/Saturn_orbit.png" alt="Raduis of <%= title %>'s orbit at scale" style="width:100%">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <br>
            <br>
            <h4 style="color:white"></h4>
            <br>
            <br>
            <h5 class="header col s12 light" style="color:white"></h5>
            </h5>
            <br>
            <h5 class="header col s12 light" style="color:white"></h5>
          </div>
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax">
        <iframe
          width="100%"
          height="450"
          frameborder="0"
          style="border:0"
          src="https://www.google.com/maps/embed/v1/streetview
          ?key=AIzaSyCcZNAYCeyfYq_jwr78VPpObxyFv7tXoaY
          &location=40.7048849,-74.0154294
          &heading=210
          &pitch=10
          &fov=35"
          allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <p class="flow-text light">Next, the ice giants.
            </p>
            <div class="row center">
              <a href="/uranus" class="btn-large waves-effect waves-light teal lighten-1">Next: URANUS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Sources</h5>
            <p class="grey-text text-lighten-4">"A New Yorker's Guide to the Solar System" was conceived as a showcase for web technologies explored under the Web Development Immersive at General Assembly NYC in February 2017. Several of these are linked here.</p>
            <p class="grey-text text-lighten-4">All images from NASA's Jet Propulsion Laboratory and Google fair use searches.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p>Developed by <a class="brown-text text-lighten-3" href="https://github.com/franklinbrooks">Franklin Brooks</a>. Created with
            <span class="heart">♥
            </span> at
            <span><a  class="brown-text text-lighten-3" href="http://www.generalassemb.ly">GA</a>
            </span>
          </p>
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://www.materializecss.com/bin/materialize.js"></script>
    <script src="http://www.materializecss.com/js/init.js"></script>
    <script src="https://darkskyapp.github.io/skycons/skycons.js"></script>
  </body>
</html>
